
main.index3 {
  background: linear-gradient(rgba(7, 119, 75, 0.25), rgba(7, 16, 119, 0.25)), url(../images/background_genuiny_website.jpg) no-repeat center/cover;
  filter: saturate(0.8); }
  @media (min-width: 768px) {
    main.index3 {
      height: 100vh; } }

div.text {
  opacity: 0; }

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: stretch;
  transform: translate(0, 0);
  position: static;
  width: 80%;
  margin: auto;
  padding-top: 100px; }
  @media (min-width: 768px) {
    .buttons {
      padding-top: 0;
      flex-direction: row;
      position: relative;
      top: calc(50% + 36px);
      transform: translate(0, -50%);
      column-gap: 5%;
      margin: auto; } }
  .buttons .option-card {
    width: 100%;
    max-width: 350px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 15px 5px #00000050;
    transition: all ease 0.3s;
    background: white;
    position: relative;
    left: 50%;
    transform: translate(-50%); }
    @media (min-width: 768px) {
      .buttons .option-card {
        position: static;
        transform: translate(0, 0); } }
  @media (min-width: 768px) and (min-width: 1024px) {
    .buttons .option-card:hover {
      box-shadow: 0 0 0 4px #09435E, 0 0 0 7px #09435E; } }

    .buttons .option-card .card-image {
      position: relative; }
      @media (min-width: 1024px) {
        .buttons .option-card .card-image:hover div.text {
          opacity: 1; }
        .buttons .option-card .card-image:hover > img {
          opacity: 0.1;
          background-size: 130%; } }
      .buttons .option-card .card-image .overlay {
        position: absolute;
        width: 100%;
        height: 100%; }
        .buttons .option-card .card-image .overlay div.text {
          display: inline-block;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: #09435E;
          color: white;
          padding: 5px 16px;
          border-radius: 20px;
          font-size: 2rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 90%;
          transition: opacity 0.5s; }
      .buttons .option-card .card-image img {
        border-radius: 10px 10px 0 0;
        width: 100%;
        transition: opacity 0.5s; }
    .buttons .option-card .card-box {
      padding: 15px 7%; }
      .buttons .option-card .card-box h4 {
        text-align: center;
        margin: 20px auto;
        text-transform: uppercase;
        font-weight: bold; }

div.content-business {
  width: 80%;
  max-width: 600px;
  margin: 7rem auto 0; }
  div.content-business h1 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: white;
    font-weight: bold;
    padding: 12px 25px;
    background: #0abab5;
    border-radius: 99px;
    font-size: 112%; }
    @media (min-width: 1024px) {
      div.content-business h1 {
        font-size: 3rem; } }
  div.content-business h2 {
    margin-top: 4rem; }
  div.content-business ul, div.content-business p {
    margin-top: 2rem; }
  div.content-business ul li {
    border-left: 4px solid #0abab5;
    list-style: none;
    position: relative;
    left: -20px;
    margin-bottom: 2rem;
    padding: 1rem 0px 1rem 20px; }
  div.content-business img.business-image {
    width: 100%;
    margin: 4rem 0 0; }

div.business-request-container {
  width: 100%;
  padding: 5rem 0;
  background-color: #232323;
  color: white;
  margin-bottom: 4rem; }
  div.business-request-container div.business-request {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center; }
    div.business-request-container div.business-request div.input {
      display: flex;
      justify-content: space-around;
      gap: 3rem;
      margin-top: 2rem; }
      div.business-request-container div.business-request div.input input {
        display: inline-block;
        border-radius: 99px;
        padding-left: 2rem;
        font-size: 1.4rem; }
      div.business-request-container div.business-request div.input button {
        padding: 8px 25px;
        background: #232323;
        border-radius: 99px;
        border: 3px solid white;
        color: white; }
