$genuinyCol: #0abab5
$genuinyColDark: #09435E 

$breakpoint-480: 480px
$breakpoint-768: 768px
$breakpoint-1024: 1024px

@font-face
	font-family: "Inter"
	src: url(../fonts/Inter/Inter-VariableFont_slnt,wght.ttf) format('truetype')
	font-weight: normal

@font-face
	font-family: "Montserrat"
	src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype')
	font-weight: normal

/* latin-ext */
//@font-face
//	font-family: 'Montserrat'
//	font-style: normal
//	font-weight: 300
//	font-display: swap
//	src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Hw3aXpsog.woff2) format('woff2')
//	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF


/* latin-ext */
//@font-face 
//	font-family: 'Inter'
//	font-style: normal
//	font-weight: 300
//	font-display: swap
//	src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZFhiI2B.woff2) format('woff2')
//	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF


*
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: "Inter", Helvetica, sans-serif
	font-size: 1.6rem

html
	font-size: 62.5%

body
	overflow-x: hidden

.container
	width: 100%
	box-sizing: border-box
	max-width: 2000px
	padding-top: 62px 
	padding-left: 7%
	padding-right: 7%
	@media (min-width: 1024px)
		padding-top: 72px

.home-background
	background-image: url("../images/wave.png")
	background-repeat: no-repeat
	background-size: 2000px 700px

.background-header
	background-image: url("../images/wave.png")
	background-repeat: no-repeat
	top: -62px
	padding-top: 62px
	background-size: 2000px
	position: absolute
	width: 100%
	height: 100%
	@media (min-width: $breakpoint-768)
		background-size: 2000px
		top: -73px
		margin: 0 -7vw
		padding: 73px 7% 0

.header_grid
	width: 100%
	padding-top: 77px
	z-index: 1
	position: relative
	display: grid
	grid-template-rows: auto
	grid-template-columns: repeat(1, 1fr)
	box-shadow: 0px 20px 37px 3px #00000050
	border-radius: 0 0 25px 25px
	@media (min-width: $breakpoint-1024)
		//grid-template-columns: repeat(5, 1fr)
		grid-template-columns: 35% 65%
		grid-template-rows: min-content
		margin: 40px auto
		padding-top: 0
		width: 80%
		box-shadow: none
	.smartphone-1
		width: 50%
		position: relative
		transform: translate(-50%)
		left: 50%
		max-width: 220px
		filter: drop-shadow(8px 8px 8px #00000070)
		margin-bottom: 12px
		@media (min-width: $breakpoint-1024)
			filter: drop-shadow(12px 12px 12px #00000070)
			height: auto
			width: auto
			max-width: 70%
			transform: translate(0)
			left: auto
			grid-row: 1 / 5
			margin-bottom: 0
	.first-main, .second-main
		font-family: 'Montserrat'
		position: relative
		color: $genuinyColDark
		text-align: center
		@media (min-width: $breakpoint-1024)
			text-align: left	
			grid-column: 2 / -1
	span.first-main
		font-weight: bold
		font-size: 3rem
		text-transform: uppercase
		margin: 20px 4% 20px
		display: block
		order: -1
		color: white
		@media (min-width: $breakpoint-1024)
			margin: auto
			margin-left: 10px
	span.second-main
		font-family: "Montserrat"
		display: block
		font-size: 25px	
		padding: 10px
		border-radius: 20px
		margin: 10px 15px 0
		@media (min-width: $breakpoint-768)
			margin: 15px 11%
		@media (min-width: $breakpoint-1024)
			background: #ffffffc2
			margin: auto
			padding: 12px
			padding-left: 20px
		.normative-note
			font-size: 0.5em
			display: block
			margin-top: 10px
			@media (min-width: $breakpoint-1024)
				margin-top: 3px
	.images_download
		width: 100%
		display: flex
		justify-content: space-evenly
		//margin-top: 20px
		margin-bottom: 17px
		margin-top: 10px
		@media (min-width: $breakpoint-768)
			margin-top: 20px
		@media (min-width: $breakpoint-1024)
			margin-bottom: 0
			grid-column: 2 / -1
		img
			height: fit-content
			width: 45%
			margin: 0 auto
			display: block
			@media (min-width: $breakpoint-480)
				width: 35% 
			@media (min-width: $breakpoint-1024)
				width: 35%

	.instructions
		padding: 4% 4% 0
		text-align: center
		position: relative
		@media (min-width: $breakpoint-768)
			text-align: center
		@media (min-width: $breakpoint-1024)
			margin-top: 40px
			padding: 0 
			grid-column: 2 / -1
		p, b
			line-height: 1.5
			font-size: 1.6rem
			text-align: center
			margin-bottom: 0
		.accordion-item
			border: none
			background: transparent
			.use_instructions_title
				background: #09435e
				width: fit-content
				margin: 0 auto
				color: white
				display: block
				border-radius: 99px
				padding: 5px 13px
				@media (min-width: $breakpoint-1024)
					padding: 8px 16px
				.accordion-button
					background: transparent
					color: white
					font-size: 1.6rem
					padding: 0
					&:focus 
						box-shadow: none !important
					&::after
						margin-left: 10px
						background-image: url("../images/down-icon.png")
			.accordion-body p
				text-align: left
				@media (min-width: $breakpoint-768)
					text-align: center 
		.box-instructions
			p, b
				text-align: left
				@media (min-width: $breakpoint-768)
					text-align: center

			@media (min-width: $breakpoint-768)
				padding: 0
				margin-left: 15px


video.milena-spiega
	width: 100%
	height: auto
	border: 3px solid $genuinyColDark

.title
	font-size: calc(1.7rem + 0.6vw)
	padding: 2.5rem 0 1rem 0
	@media (min-width: 480px)
		padding: 5rem 0 2rem 0


/**************SUBSCRIBE***************/

main
	min-height: calc(100vh - 73px)


.separation-line
	position: relative
	width: 90%
	left: 4%
	z-index: -4

ul.subscribe-steps
	padding: 0
	position: relative
	max-width: 1000px
	margin: 25px auto 0
	
	li
		padding: 20px 40px 20px 45px
		position: relative

		list-style: none
		background-repeat: no-repeat
		background-position: left 46px
		background-size: 20px
		font-size: calc(1.4rem + 0.4vw)
	h7
		@media (min-width: $breakpoint-768)
			user-select: none

#link
	text-decoration: none

li.subscribe-step-1 .subscribe-parent
	display: flex
	justify-content: center
	column-gap: 15px
	.register-btn
		box-shadow: 0px 3px 6px 0px #00000070
		color: white
		background: $genuinyColDark
		width: fit-content
		padding: 8px 16px
		border-radius: 99px
		margin: 10px 0
		font-size: 1.6rem
		white-space: nowrap
	.second
		display: none
		@media (min-width: $breakpoint-1024)
			display: block

.subscribe-step-4
	.blue-button
		background-color: #04445f
		padding: 5px
		border-radius: 5px
		color: white
		white-space: nowrap
		font-size: calc(1.4rem + 0.4vw)
		box-sizing: content-box
	.nft-btn-info
		display: inline-block
		white-space: nowrap
		img
			position: relative
			top: -2px
	a
		background: #09435e
		color: white
		padding: 4px 10px
		border-radius: 99px
		text-decoration: none
		margin-top: 3px
		display: inline-block

.list-line
	display: none
	@media (min-width: $breakpoint-768)
		display: block
		position: absolute
		left: 0px
		top: 75px
		width: 10px
		transform: translate(50%, 0%)
		height: 81%
		background-color: #0ABaB5
		z-index: -3
		border-radius: 5px

.round-bullet
	border-radius: 0 99px 99px 0
	position: absolute
	background-color: $genuinyCol
	width: 40px
	height: 70px
	left: -7vw
	top: 50%
	transform: translate(0%, -50%)
	z-index: -2
	text-align: center
	color: white
	font-size: 20px
	@media (min-width: $breakpoint-768)
		transform: translate(0, -50%)
		left: -10px
		border-radius: 32px 32px 32px 32px
	h1
		position: relative
		font-size: 23px
		font-weight: bold
		top: 50%
		transform: translate(0, -50%)
		@media (min-width: $breakpoint-768)
			top: 5px
			transform: translate(0, 0)


.round-bullet-inside
	@extend .round-bullet
	display: none
	@media (min-width: $breakpoint-768)
		display: block
		background-color: white 
		width: 30px
		height: 30px
		z-index: -1
		left: -5px
		transform: translate(0%, -50%)
		border-radius: 50%
		top: calc(50% + 16px)
		h1
			top: 17px
			font-size: 30px
		img 
			display: none
			@media (min-width: $breakpoint-768)
				display: block
				width: 30px
				padding: 5px
				position: relative


.subscribe-step-1 .round-bullet-inside img
	padding: 8px

.subscribe-step-2 .round-bullet-inside img
	top: 1px
	padding: 7px

.subscribe-step-3 .round-bullet-inside img
	padding: 6px

.subscribe-step-4 .round-bullet-inside img
	top: 1px

.subscribe-step-5 .round-bullet-inside img
	padding: 6px
	top: 2px


/**app-images**/

.subscribe-step-3 div.images-container
	width: 65vw
	max-width: 225px
	display: flex
	justify-content: space-evenly
	transform: translate(-50%, 0)
	position: relative
	left: 45%
	@media (min-width: $breakpoint-768)
		transform: translate(0, 0)
		position: static
		display: inline-flex
	div.image-container
		width: 35%
		display: inline-block
		margin: 12px
		box-sizing: content-box
		img.app-image
			width: 100%
			border: 4px solid #09435E
			border-radius: 30%
			padding: 4px
			box-shadow: 0px 3px 6px 0px #00000070


.max-height video
	max-height: 70vh

.modal-trigger
	border: none
	text-decoration: underline
	color: #0d6efd

.modal-table .modal-body
	width: 100vw
	position: absolute
	transform: translate(-50%, 0%)
	left: 50%
	top: -250px
	height: fit-content
	max-height: 80vh
	padding: 0
	margin: 0
	@media (min-width: $breakpoint-768)
		max-height: 420px
		width: 80vw

.modal-x
	width: 64px
	height: 64px
	background: #3c3c3c
	position: fixed
	bottom: 8vh
	left: 50%
	transform: translate(-50%)
	border-radius: 70px
	box-shadow: 0px 0px 12px 5px #ffffff70
	@media (min-width: $breakpoint-1024)
		display: none
	.spans
		width: 50px
		position: relative
		top: calc(50% - 5px) //half of span height
		transform: translate(0, -50%)
		margin: auto
		span
			position: absolute
			width: 100%
			height: 10px	
			border-radius: 5px
			background-color: #e6e6e6
			display: block
			&:nth-of-type(0n + 1)
				transform: rotate(45deg)
			&:nth-of-type(0n + 2)
				transform: rotate(-45deg)

.modal-content
	@media (max-width: $breakpoint-1024)
		top: -5vh

#generate_qr 
	.modal-body
		max-height: none
	img
		width: 80vw
		max-width: 100%
	p
		margin-top: 15px
		overflow-x: auto

.modal-white .modal-content
	background: white
	.modal-body
		padding: 35px
		max-height: 60vh
		overflow: auto
		h1
			font-weight: bold
			padding-bottom: 15px
			margin: 0
			font-size: 2rem
			@media (min-width: $breakpoint-768)
				font-size: 25px
		p
			margin: 0
			padding: 0

#generate_qr .modal-body
	overflow: hidden

.modal-content
	background-color: transparent
	border: none

#hashing .modal-body img
	width: 30%
	float: right
	margin: 10px 0 15px 15px

#smart-contract .modal-body img
	width: 30%
	float: right
	margin: 10px 0 15px 15px

#functioning_image_modal .modal-content
	width: fit-content
	margin: 0 auto
	.modal-body
		padding: 10px
		#functioning_image
			height: 70vh
			margin: 0 auto
			display: block



/**** SHARE ****/

.title-subscribe
	text-align: center
	font-weight: bold

.share-boxes
	display: flex
	flex-direction: column
	align-items: center
	margin: 20px -7vw 0
	width: 100vw
	@media (min-width: $breakpoint-480)
		margin: 20px auto 0
		width: 86vw
	@media (min-width: 1280px)
		align-items: start
		flex-direction: row
		column-gap: 20px
		margin-top: 30px
	.share-box
		max-width: 840px
		margin: 20px auto
		width: 100%
		box-shadow: 0px 0px 7px 3px #00000070
		@media (min-width: 480px)
			box-shadow: none
		@media (min-width: 1280px)
			margin: 0px auto 0
		h2
			background: #0abab5
			color: white
			font-weight: bold
			margin: 0
			padding: 10px 5px 7px
			text-align: center
			font-size: calc(1.325rem + 0.6vw)
			@media (min-width: $breakpoint-480)
				border-radius: 20px 20px 0 0
				position: relative
				top: 5px
			@media (min-width: $breakpoint-1024)
				font-size: 1.939rem
		.content-box
			background-color: #0abab520
			border-bottom: 4px solid $genuinyCol
			padding: 3% 5% 0
			@media (min-width: $breakpoint-480)
				padding: 8px 4vw 0 2vw
				border: 4px solid $genuinyCol
				border-radius: 0 0 20px 20px
			@media (min-width: $breakpoint-768)
				padding: 8px 20px 0 10px
			.center-link
				background-color: $genuinyCol
				width: fit-content
				display: block
				margin: 15px auto 0
				white-space: nowrap

				border-radius: 15px 15px 0 0
				padding: 4px 14px 0 14px
				color: white
				text-decoration: none
				img
					width: 12px
					margin-left: 10px
					position: relative
					top: -1px

.share-box:nth-of-type(odd) 
	.content-box
		border-color: $genuinyColDark
		background-color: #09435e20
		.center-link
			background-color: $genuinyColDark
	h2
		background: $genuinyColDark

.share-box:last-of-type a.download
	text-align: center
	display: block

#process-link, #copy-link
	height: 30px
	width: 50px
	border-radius: 15px
	border: none
	margin-left: 10px

	background-color: $genuinyCol
	background-repeat: no-repeat
	background-position: center
	background-size: 19px

#process-link, 
	background-image: url("../images/icons/arrow-right-solid.svg")
	box-sizing: border-box

#copy-link
	background-image: url("../images/icons/copy-regular.svg")

.arrow_btn
	@extend #process-link
	display: inline-block
	transform: translate(0, 20%)
	margin-left: 3px
	width: 32px
	height: 24px
	background-size: 16px
	margin: -8px 0 0 2px


.process-lines
	display: flex
	align-items: center

	flex-wrap: wrap
	row-gap: 5px
	margin: 10px 0 10px 0
	justify-content: center

.box
	display: flex
	align-items: center

	margin: 0 auto
	@media (min-width: $breakpoint-480)
		margin: 0 0 0 10px

.process-line
	height: 25px
	line-height: 0

input.process-line
	border-radius: 7px
	border: 2px solid #6a6a6a
	width: 80%

.video-invite
	text-align: center
	border-radius: 10px
	width: 80vw
	border: 4px solid $genuinyColDark
	max-width: 250px
	margin: 15px auto 0 auto
	display: block

img.share-app
	@extend .video-invite
	width: 100%
	max-width: 250px
	width: 80vw


/**** CAROUSEL ****/

.carousel
	margin-top: 50px
	margin-bottom: 9vh

.carousel-indicators [data-bs-target]
	background-color: #0abab5
	opacity: 0.3
	height: 14px
	width: 15px
	border-radius: 50%

.carousel-indicators .active
	opacity: 1

.carousel-inner:last-of-type
	margin-bottom: 50px

.subtitle
	font-size: 1.2em
	font-weight: bold


.module	h1
	font-size: 2rem
	border-bottom: 2px solid #0abab5
	padding-bottom: 1rem
	font-weight: bold
	width: 86vw
	margin: 0 auto 10px


.module-overflow
	overflow: auto
	width: 86vw
	margin: 0 auto
	overflow-x: hidden
	height: calc(100vh - 250px)
	//@media (max-width: 768px) and (orientation: landscape)
	//	height: 55vh

.overflow-hidden
	overflow: hidden

.first-module-title-desktop
	width: fit-content
	text-align: center
	margin: 0 auto
	font-weight: bold
	margin-bottom: 40px
	padding: 0 16px 5px
	background: white
	//border-bottom: 4px solid $genuinyCol


.secondary-module-title-desktop
	margin: 50px 0 20px

.common-div-desktop
	margin: 100px -7vw 0 -7vw
	padding: 0 calc(7vw + 50px) 30px


//.citation-mark
//	position: absolute
//	top: 0
//	left: 0
//	transform: translate(-100%, -100%)
//	width: 30px
//	&:last-of-type
//		right: 0
//		bottom: 0
//		top: auto
//		left: auto
//		transform: translate(100%, 100%) rotate(180deg)					


#carousel-system-ban
	.module-1
		img
			height: calc(100% - 59px)
			display: block
			margin: 0 auto
			max-height: 900px
			border: 4px solid #09435e
			border-radius: 10px
	a
		text-decoration: none
	.to-calculator
		background: $genuinyColDark
		padding: 10px 16px
		text-align: center
		font-weight: bold
		color: white
		margin: 3vh 0 0
		border-radius: 99px
		margin: 15px auto 0
		@media (min-width: $breakpoint-768)
			width: fit-content
		@media (min-width: $breakpoint-1024)
			margin: 15px auto
			padding: 10px 70px

#carousel-system-ban-desktop
	@extend #carousel-system-ban
	.module-1 
		img
			width: 80%
		.to-calculator
			box-shadow: 0px 3px 6px 2px #00000060
	.module-2 
		.secondary-module-title-desktop
			display: none
		.after_image
			margin-top: 4rem

#carousel-blockchain .module-2 video
	transform: translate(0, -50%)
	position: relative
	top: 50%
	display: block
	margin: 0 auto
	@media (max-width: $breakpoint-1024) and (orientation: landscape)
		width: fit-content
		height: 53vh

#carousel-blockchain-desktop
	@extend #carousel-blockchain
	.module-2
		video
			transform: translate(0, 0)
			width: 50%



#carousel-app 
	.module-1
		p
			margin-bottom: 0
		div.image-container
			width: 100%
			height: 91%

			img
				height: 90%
				display: block
				filter: drop-shadow(8px 8px 8px #00000070)
				position: relative
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				@media (min-width: $breakpoint-1024)
					filter: drop-shadow(12px 12px 12px #00000070)
				.module-overflow
					overflow: hidden
	.module-2 img
		margin: 20px auto
		display: block
		width: 50vw
		@media screen and (orientation: landscape)
			width: 30vw
	.module-3 .value
		display: block
		width: fit-content
		font-family: 'Montserrat'
		font-weight: 700
		margin: 2vh auto
		font-size: 12vw
		@media screen and (orientation: landscape)
			font-size: 6vw
	.module-4 img
		display: block
		border-top: 4px solid #09435e
		border-bottom: 4px solid #09435e
		width: 40vw
		margin: 20px auto
		@media (max-width: $breakpoint-1024) and (orientation: landscape)
			float: right
			margin: 20px 40px
			width: 30vw
			border: 4px solid $genuinyColDark


#carousel-app-desktop
	@extend #carousel-app
	position: relative
	.module-overflow
		padding-right: 20px
	.module .module-title
		width: 500px
		position: relative
		left: 45%
		margin: 0px 0 10px
		border: none
		font-size: 2.4rem
	.carousel-indicators
		display: block
		width: fit-content
		position: absolute
		left: 50%
		right: auto
		bottom: 0px
		transform: translate(-50%, -50%)
	.carousel-inner
		height: 540px
		width: 70%
		margin: 50px auto 0
	.module-overflow
		width: 55%
		position: relative
		left: 45%
		margin: 0
		height: 490px
	/* width */
	::-webkit-scrollbar 
		width: 10px
	/* Track */
	::-webkit-scrollbar-track 
		box-shadow: inset 0 0 5px grey 
		border-radius: 10px
	/* Handle */
	::-webkit-scrollbar-thumb 
		background: #09435e90
		border-radius: 10px
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover 
		background: #09435e
	img.app-image
		z-index: 1
		position: absolute
		left: 30%
		top: 88px
		margin: 0
		transform: translate(-50%)
		height: 78%
		filter: drop-shadow(12px 12px 12px #00000070)
	.carousel-item
		width: 100%
	.carousel-control
		display: block
		position: absolute
		right: auto
		left: auto
		top: 50%
		bottom: auto
		transform: translate(0, -50%)
		width: 100px
		height: 100px
		max-width: 100px
		border-radius: 50%
		background: $genuinyCol url("../images/arrow2.png") no-repeat scroll
		background-size: 41px
		background-position: 34px 17px
		opacity: 0.3
		img
			width: 100%
	.carousel-control-next
		right: 100px
		&:focus
			opacity: 0.3
		&:hover
			opacity: 0.8
	.carousel-control-prev
		left: 100px
		transform: translate(0, -50%) rotate(180deg)
		&:focus
			opacity: 0.3
		&:hover
			opacity: 0.8
	.module-2 img
		display: none
	.module-3 .value
		font-size: 40px
	.module-4 img
		width: 200px


.desktop_title_line
	position: relative
	width: 100%
	height: 4px
	background: #0abab5
	top: 18px
	z-index: -1

#carousel-sharing
	.module-1 
		a.source_link
			text-decoration: underline
			color: black
			font-style: italic
			font-size: calc(0.7rem + 0.91vw)
			@media (min-width: $breakpoint-768)
				font-size: 1.4rem

#carousel-sharing-desktop
	@extend #carousel-sharing


//PRIVACY POLICY

div.privacy_all
	h1
		font-weight: 700
		font-size: 30px
		line-height: 40px
	h1, h2, h3, h4
		font-weight: bold
	h1, h2, h3, h4, h5, h6, li, p 
		margin: 0 0 16px
 
footer 
	background-color: black
	div.container
		padding: 15px
		display: grid
		justify-items: center
		align-items: center
		text-align: center
		column-gap: 15px
		grid-row-gap: 14px
		grid-template-columns: 1fr 1fr
		@media (min-width: $breakpoint-768)
			grid-row-gap: 10px
			grid-template-columns: 1fr 1fr
		.grid_item
			font-size: 1.2rem
			color: #f1f1f1
			@media (min-width: $breakpoint-768)
				font-size: 1.3rem
				color: white
			&:last-of-type
				margin-bottom: 0

		// adress in two lines under tablet size
		.br
			display: block
			font-size: 1em
			@media (min-width: $breakpoint-768)
				display: inline-block
		.slash::before
			@media (min-width: $breakpoint-768)
				content: ", "
		a
			@extend .grid_item
			text-decoration: none
			&:hover
				color: #8f8f8f

		// make last item in credit centered spanning two cells
		.two_span
			grid-column-start: 1
			grid-column-end: 3
			span
				font-size: inherit
				display: block
			span.line
				@media (min-width: $breakpoint-768)
					display: inline-block
					&:nth-of-type(1n + 3)::before
						content: "| "




// language selection menu
.language_group
	img.lang_flag
		width: 16px
		margin-right: 8px
	button.lang_btn
		background: transparent
		border: none
		@extend .grid_item
		.current-language-flex
			display: inline-flex
			align-items: center
			justify-content: end
			gap: 5px
			img.lang_flag
				margin-right: 0
	ul.dropdown-menu li a
		display: flex
		justify-content: start
		align-items: center
		padding: 2.5px 10px
		color: black
		font-size: 0.9em



main
	box-shadow: 0px 0px 60px 11px #00000045
	padding-bottom: 50px

main.subscribe
	@media (min-width: $breakpoint-1024)
		background: url(../images/wave-flat-subscribe.png)
		background-repeat: no-repeat
		background-position: 0px 20px
		background-size: 100% 120px
	
main.share
	@media (min-width: $breakpoint-1024)
		background: url(../images/wave-flat-share.png)
		background-repeat: no-repeat
		background-position: 0px 20px
		background-size: 100% 120px
		
main.affiliation
	@media (min-width: $breakpoint-1024)
		background: url(../images/wave-flat-affiliation.png)
		background-repeat: no-repeat
		background-position: 0px 20px
		background-size: 100% 110px
	





span[lang]
	font-size: 1em
	font-family: inherit
	color: inherit

.display_none
	display: none !important

video:fullscreen
	border-radius: none !important
	border: 0 !important


div.main_landing_page
	padding-bottom: 0
	min-height: 100vh
	@media (min-width: $breakpoint-768)
		height: 100vh
		min-height: 500px


.boxes_landing_page
	display: flex
	min-height: 400px
	height: 70%
	width: 80%
	max-height: 800px
	margin: auto
	border-radius: 20px
	box-shadow: 0 0 20px 3px #00000065
	position: relative
	transform: translate(0, -50%)
	top: 50vh
	background: #0abab5
	@media (min-width: $breakpoint-768)
		min-width: 500px
		max-width: 1000px
		width: 75%
	.left-box
		width: 100%
		padding: 20px
		@media (min-width: $breakpoint-768)
			position: static
			transform: translate(0,0)
			margin: 0
			padding: 30px
			height: 100%
			width: 60%
			background: #0abab5
			border-radius: 20px 0 0 20px
		.main_content    
			width: 100%
			@media (min-width: $breakpoint-768)
				position: relative
				top: 50%
				transform: translate(0, -50%)
			h1
				color: white
				font-weight: bold
				margin-bottom: 5%
			h2
				color: white
				text-align: right
				margin-bottom: 30%
			.btns-container
				display: flex
				justify-content: center
				flex-direction: column
				row-gap: 20px
				margin: 0 10%
				@media (min-width: $breakpoint-768)
					column-gap: 10%
					flex-direction: row
					position: static
					max-width: 430px
					margin: auto
				.button
					width: 100%
					height: 55px
					border-radius: 99px
					background: #09435E
					color: white
					border: none
					font-weight: bold
					font-size: calc(1.4rem + 0.78vw)
					box-shadow: 0px 5px 12px 0px #00000080
					@media (min-width: $breakpoint-1024)
						font-size: 2.2rem
					&::hover
						cursor: pointer
	.right-box
		position: absolute
		width: 100%
		z-index: -1
		@media (min-width: $breakpoint-768)
			width: 40%
			z-index: 0
			position: static
			border-radius: 0 20px 20px 0
			background: white
		img
			display: none
			@media (min-width: $breakpoint-768)
				display: block
				width: 50%
				position: relative
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				filter: drop-shadow(12px 12px 12px #00000070)
		div.background-linear
			position: absolute
			width: 100%
			height: 100%
			background: linear-gradient(rgba(7, 119, 75, .6), rgba(7, 16, 119, .6)), url(../images/glogov.png) no-repeat center / cover
			background-size: 100%
			@media (min-width: $breakpoint-768)
				display: none


.button-register
	display: none
	@media (min-width: $breakpoint-1024)
		display: block
		margin: 6rem auto 0 auto
		width: 60%
		height: 55px
		border-radius: 99px
		background: #09435E
		color: white
		border: none
		font-weight: bold
		font-size: calc(1.4rem + 0.78vw)
		box-shadow: 0px 5px 12px 0px #00000080
		@media (min-width: $breakpoint-1024)
			font-size: 2.2rem
		&::hover
			cursor: pointer