@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/static/Inter-Regular.ttf) format("truetype");
  font-weight: normal; }
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf) format("truetype");
  font-weight: normal; }
*, p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 1.2rem; }
  @media (min-width: 768px) {
    *, p {
      font-size: 1.6rem; } }

html {
  font-size: 62.5%; }

body {
  overflow-x: hidden; }

.container {
  width: 100%;
  box-sizing: border-box;
  max-width: 2000px;
  padding: 62px 7% 0 7%; }
  @media (min-width: 480px) {
    .container {
      padding-top: 72px; } }

.container-header {
  background-image: url("../images/wave.png");
  background-repeat: no-repeat;
  position: relative;
  top: -62px;
  padding-top: 62px;
  height: calc(100vh + 62px);
  background-size: 1300px; }
  @media (min-width: 768px) {
    .container-header {
      background-size: 1600px;
      height: calc(100vh + 73px);
      max-height: 900px;
      top: -73px;
      margin: 0 -7vw;
      padding-top: 73px; } }
  .container-header .header_text {
    top: 62px;
    position: absolute;
    width: 100%;
    margin: 62px auto 0;
    z-index: 1; }
    @media (min-width: 768px) {
      .container-header .header_text {
        top: 12%;
        right: 10%;
        padding: 15px 0;
        margin: 0 30px;
        width: 50%;
        max-width: 770px; } }
    .container-header .header_text p.main-text {
      padding: 0 25px 25px;
      font-family: "Montserrat";
      position: relative;
      color: #09435E;
      text-align: center; }
      @media (min-width: 768px) {
        .container-header .header_text p.main-text {
          text-align: left;
          color: white;
          filter: drop-shadow(0px 0px 15px #09435e); } }
      .container-header .header_text p.main-text span.first-main {
        font-size: 3rem;
        text-transform: uppercase;
        margin-top: 20px;
        display: block; }
      .container-header .header_text p.main-text span.second-main {
        display: block;
        font-size: 25px;
        margin-top: 76vw;
        background: #ffffff80;
        padding: 10px 0px;
        border-radius: 20px; }
        @media (min-width: 768px) {
          .container-header .header_text p.main-text span.second-main {
            margin-top: 20px;
            padding: 0;
            background-color: transparent;
            border-radius: 0; } }
    @media (min-width: 768px) {
      .container-header .header_text {
        margin: 30px; } }
    .container-header .header_text .instructions {
      text-align: center;
      position: relative; }
      @media (min-width: 768px) {
        .container-header .header_text .instructions {
          text-align: center;
          left: -45px; } }
      .container-header .header_text .instructions p, .container-header .header_text .instructions b {
        line-height: 1.5;
        font-size: 1.6rem;
        text-align: center; }
      .container-header .header_text .instructions p.use_instrutions {
        background: #09435e;
        width: fit-content;
        margin: 0 auto;
        color: white;
        display: block;
        padding: 2px 13px;
        border-radius: 99px; }
      .container-header .header_text .instructions .box-instructions {
        padding: 0 15px; }
        .container-header .header_text .instructions .box-instructions p, .container-header .header_text .instructions .box-instructions b {
          text-align: left; }
          @media (min-width: 768px) {
            .container-header .header_text .instructions .box-instructions p, .container-header .header_text .instructions .box-instructions b {
              text-align: center; } }
        @media (min-width: 768px) {
          .container-header .header_text .instructions .box-instructions {
            padding: 0;
            margin-left: 15px; } }

.spacer {
  height: 65; }
  @media (min-width: 480px) {
    .spacer {
      height: 75px; } }

/*******smartphone******* */
.smartphone {
  /**mobile first* */
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  filter: drop-shadow(12px 12px 12px #00000070); }
  @media (min-width: 768px) {
    .smartphone {
      left: 10%;
      width: 230px;
      top: 15%;
      transform: translate(0%, 0%);
      max-width: 256px; } }
  .smartphone .smartphone {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 4; }

video.milena-spiega {
  width: 84vw;
  height: auto;
  border: 3px solid #09435E;
  margin: 20px 0; }

.title {
  font-size: calc(1.7rem + 0.6vw);
  padding: 2.5rem 0 1rem 0; }
  @media (min-width: 480px) {
    .title {
      padding: 5rem 0 2rem 0; } }

/**************SUBSCRIBE************** */
.separation-line {
  position: relative;
  width: 90%;
  left: 4%;
  z-index: -4; }

ul.subscribe-steps {
  padding: 0;
  position: relative;
  max-width: 1000px;
  margin: 25px auto; }
  ul.subscribe-steps li {
    padding: 20px 40px 20px 45px;
    position: relative;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left 46px;
    background-size: 20px;
    font-size: calc(1.4rem + 0.4vw); }
  ul.subscribe-steps li:last-of-type {
    margin-bottom: 5vw; }
  @media (min-width: 768px) {
    ul.subscribe-steps h7 {
      user-select: none; } }

#link {
  text-decoration: none; }

li.subscribe-step-1 .subscribe-parent {
  display: flex;
  justify-content: center;
  column-gap: 15px; }
  li.subscribe-step-1 .subscribe-parent .register-btn {
    box-shadow: 0px 3px 6px 0px #00000070;
    color: white;
    background: #09435E;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 99px;
    margin: 10px 0;
    font-size: 1.6rem;
    white-space: nowrap; }
  li.subscribe-step-1 .subscribe-parent .second {
    display: none; }
    @media (min-width: 768px) {
      li.subscribe-step-1 .subscribe-parent .second {
        display: block; } }

.subscribe-step-4 .blue-button {
  background-color: #04445f;
  padding: 5px;
  border-radius: 5px;
  color: white;
  white-space: nowrap;
  font-size: calc(1.4rem + 0.4vw);
  box-sizing: content-box; }
.subscribe-step-4 .nft-btn-info {
  display: inline-block;
  white-space: nowrap; }
  .subscribe-step-4 .nft-btn-info img {
    position: relative;
    top: -2px; }

.list-line {
  display: none; }
  @media (min-width: 768px) {
    .list-line {
      display: block;
      position: absolute;
      left: 0px;
      top: 75px;
      width: 10px;
      transform: translate(50%, 0%);
      height: 81%;
      background-color: #0ABaB5;
      z-index: -3;
      border-radius: 5px; } }

.round-bullet, .round-bullet-inside {
  border-radius: 0 99px 99px 0;
  position: absolute;
  background-color: #0abab5;
  width: 40px;
  height: 70px;
  left: -7vw;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: -2;
  text-align: center;
  color: white;
  font-size: 20px; }
  @media (min-width: 768px) {
    .round-bullet, .round-bullet-inside {
      transform: translate(0, -50%);
      left: -10px;
      border-radius: 32px 32px 32px 32px; } }
  .round-bullet h1, .round-bullet-inside h1 {
    position: relative;
    font-size: 23px;
    font-weight: bold;
    top: 50%;
    transform: translate(0, -50%); }
    @media (min-width: 768px) {
      .round-bullet h1, .round-bullet-inside h1 {
        top: 5px;
        transform: translate(0, 0); } }

.round-bullet-inside {
  display: none; }
  @media (min-width: 768px) {
    .round-bullet-inside {
      display: block;
      background-color: white;
      width: 30px;
      height: 30px;
      z-index: -1;
      left: -5px;
      transform: translate(0%, -50%);
      border-radius: 50%;
      top: calc(50% + 16px); }
      .round-bullet-inside h1 {
        top: 17px;
        font-size: 30px; }
      .round-bullet-inside img {
        display: none; } }
    @media (min-width: 768px) and (min-width: 768px) {
      .round-bullet-inside img {
        display: block;
        width: 30px;
        padding: 5px;
        position: relative;
        top: -1px; } }

.subscribe-step-3 .round-bullet-inside img {
  padding: 6px; }

.subscribe-step-2 img, .subscribe-step-4 img {
  top: 0; }

/**app-images* */
.subscribe-step-3 div.images-container {
  width: 65vw;
  max-width: 225px;
  display: flex;
  justify-content: space-evenly;
  transform: translate(-50%, 0);
  position: relative;
  left: 45%; }
  @media (min-width: 480px) {
    .subscribe-step-3 div.images-container {
      transform: translate(0, 0);
      position: static;
      display: inline-flex; } }
  .subscribe-step-3 div.images-container div.image-container {
    width: 35%;
    display: inline-block;
    margin: 12px;
    box-sizing: content-box; }
    .subscribe-step-3 div.images-container div.image-container img.app-image {
      width: 100%;
      border: 4px solid #09435E;
      border-radius: 30%;
      padding: 4px;
      box-shadow: 0px 3px 6px 0px #00000070; }

.modal-table .modal-body {
  width: 100vw;
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  top: -250px;
  max-height: 420px;
  height: fit-content;
  padding: 0;
  margin: 0; }
  @media (min-width: 480px) {
    .modal-table .modal-body {
      width: 80vw; } }

.max-height video {
  max-height: 70vh; }

.modal-trigger {
  border: none;
  text-decoration: underline;
  color: #0d6efd; }

.modal-white .modal-content {
  background: white; }
  .modal-white .modal-content .modal-body {
    padding: 35px; }
    .modal-white .modal-content .modal-body h1 {
      font-weight: bold;
      padding-bottom: 15px;
      margin: 0;
      font-size: 2rem; }
      @media (min-width: 768px) {
        .modal-white .modal-content .modal-body h1 {
          font-size: 25px; } }
    .modal-white .modal-content .modal-body p {
      margin: 0;
      padding: 0; }

.modal-content {
  background-color: transparent;
  border: none; }

#hashing .modal-body img {
  width: 30%;
  float: right;
  margin: 30px 0 15px 15px; }

#smart-contract .modal-body img {
  width: 30%;
  float: right;
  margin: 10px 0 15px 15px; }

/**** SHARE *** */
.title-subscribe {
  text-align: center;
  font-weight: bold; }

.share-boxes {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1280px) {
    .share-boxes {
      flex-direction: row;
      column-gap: 20px; } }

#process-link, #copy-link {
  height: 30px;
  width: 50px;
  border-radius: 15px;
  border: none;
  margin-left: 10px;
  background-color: #0abab5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 19px; }

#process-link {
  background-image: url("../images/arrow.png");
  box-sizing: border-box; }

#copy-link {
  background-image: url("../images/copy-w.png"); }

.share-box {
  width: 94vw;
  max-width: 840px;
  margin: 20px -4vw; }
  @media (min-width: 480px) {
    .share-box {
      margin: 30px auto 0; } }

.content-box {
  border-radius: 0 0 20px 20px;
  border: 4px solid #0abab5;
  background-color: #0abab520;
  padding: 8px 4vw 0 2vw; }
  @media (min-width: 768px) {
    .content-box {
      padding: 8px 20px 0 10px; } }
  .content-box .center-link {
    background-color: #0abab5;
    width: fit-content;
    display: block;
    margin: 15px auto 0;
    white-space: nowrap;
    border-radius: 15px 15px 0 0;
    padding: 4px 14px 0 14px;
    color: white;
    text-decoration: none; }
    .content-box .center-link img {
      width: 15px;
      margin-left: 10px;
      position: relative;
      top: -1px; }

.share-box:nth-of-type(odd) .content-box {
  border-color: #09435E;
  background-color: #09435e20; }
  .share-box:nth-of-type(odd) .content-box .center-link {
    background-color: #09435E; }
.share-box:nth-of-type(odd) h2 {
  background: #09435E; }

.share-box h2 {
  background: #0abab5;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 10px 5px 7px 10px;
  border-radius: 20px 20px 0 0;
  position: relative;
  top: 5px;
  text-align: center; }

.process-lines {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 5px;
  margin: 10px 0 10px 0;
  justify-content: center; }

.box {
  display: flex;
  align-items: center;
  margin: 0 auto; }
  @media (min-width: 480px) {
    .box {
      margin: 0 0 0 10px; } }

.process-line {
  height: 25px;
  line-height: 0; }

input.process-line {
  border-radius: 7px;
  border: 2px solid #6a6a6a; }

.video-invite, .share-app {
  text-align: center;
  border-radius: 10px;
  width: 80vw;
  border: 4px solid #09435E;
  max-width: 250px;
  margin: 15px auto 0 auto;
  display: block; }

.share-app {
  width: auto; }
  .share-app img {
    max-width: 250px;
    width: 80vw; }

/**** CAROUSEL *** */
.carousel {
  margin-top: 50px; }

.carousel-indicators {
  margin-bottom: 0; }

.carousel-indicators [data-bs-target] {
  background-color: #0abab5;
  opacity: 0.3;
  height: 14px;
  width: 15px;
  border-radius: 50%; }

.carousel-indicators .active {
  opacity: 1; }

.carousel-inner:last-of-type {
  margin-bottom: 50px; }

.module-1 .subtitle, .module-2 .subtitle, .module-3 .subtitle, .module-4 .subtitle, .module-5 .subtitle {
  font-size: 1.2em;
  font-weight: bold; }
.module-1 a, .module-2 a, .module-3 a, .module-4 a, .module-5 a {
  text-decoration: none; }

.module {
  margin-bottom: 9vh; }
  .module h1 {
    font-size: 2rem;
    border-bottom: 2px solid #0abab5;
    padding-bottom: 1rem;
    font-weight: bold;
    width: 86vw;
    margin: 0 auto 10px; }

.module-overflow {
  overflow: auto;
  height: calc(100vh - 175px);
  width: 86vw;
  margin: 0 auto;
  overflow-x: hidden; }

.overflow-hidden {
  overflow: hidden; }

.first-module-title-desktop {
  width: fit-content;
  margin: 0 auto;
  padding: 16px 32px;
  background-color: #0abab5;
  color: white;
  font-weight: bold;
  border: 4px solid #09435e;
  margin-bottom: 30px;
  transform: translate(0, -50%);
  border-radius: 99px; }

.secondary-module-title-desktop {
  margin: 50px 0 20px; }

.common-div-desktop {
  background-color: #0abab520;
  margin: 100px -7vw 0 -7vw;
  padding: 0 calc(7vw + 50px) 30px; }

#carousel-genuiny, #carousel-genuiny-desktop {
  margin-top: 215px; }
  #carousel-genuiny .module-1 p, #carousel-genuiny-desktop .module-1 p {
    min-height: 60vh; }
  #carousel-genuiny .module-1 a, #carousel-genuiny-desktop .module-1 a {
    text-decoration: none; }
    #carousel-genuiny .module-1 a .to-calculator, #carousel-genuiny-desktop .module-1 a .to-calculator {
      background: #09435E;
      padding: 10px 16px;
      text-align: center;
      font-weight: bold;
      color: white;
      margin: 3vh 0 0; }

#carousel-genuiny-desktop {
  margin-top: 50px; }
  #carousel-genuiny-desktop .module-1 p {
    min-height: auto; }
  #carousel-genuiny-desktop .module-1 a .to-calculator {
    width: 30vw;
    max-width: 300px;
    margin: 15px auto; }

#carousel-functioning .block-number, #carousel-functioning-desktop .block-number {
  margin: 0 auto;
  background: #0abab5;
  width: fit-content;
  padding: 2px 10px 0px 10px;
  border-radius: 99px 99px 0 0;
  color: white;
  font-weight: bold;
  position: relative;
  bottom: -2px; }
  #carousel-functioning .block-number:first-of-type, #carousel-functioning-desktop .block-number:first-of-type {
    margin-top: 6vh; }
#carousel-functioning .block-functioning, #carousel-functioning-desktop .block-functioning {
  background-color: #0abab5;
  text-align: center;
  padding: 5px 15px;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem; }
#carousel-functioning .module-1 img, #carousel-functioning-desktop .module-1 img {
  width: 100%;
  margin: 0 auto;
  display: block; }
#carousel-functioning .module-2 .secondary-module-title-desktop, #carousel-functioning-desktop .module-2 .secondary-module-title-desktop {
  display: none; }

#carousel-functioning-desktop {
  background-color: transparent; }
  #carousel-functioning-desktop .module-1 img {
    width: 80%; }
  #carousel-functioning-desktop .module-2 p {
    margin-top: 50px; }

#carousel-blockchain .module-2 video, #carousel-blockchain-desktop .module-2 video {
  transform: translate(0, -50%);
  position: relative;
  top: 50%;
  display: block;
  margin: 0 auto; }

#carousel-blockchain-desktop .module-2 video {
  transform: translate(0, 0);
  width: 50%; }

#carousel-app .module-1 img, #carousel-app-desktop .module-1 img {
  height: 50vh;
  margin: 10vh auto 0;
  filter: drop-shadow(12px 12px 12px #00000070);
  display: block; }
  #carousel-app .module-1 img .module-overflow, #carousel-app-desktop .module-1 img .module-overflow {
    overflow: hidden; }
#carousel-app .module-2 img, #carousel-app-desktop .module-2 img {
  width: 50vw;
  margin: 20px auto;
  display: block; }
#carousel-app .module-3 .value, #carousel-app-desktop .module-3 .value {
  display: block;
  width: fit-content;
  font-size: 12vw;
  font-family: "Montserrat";
  font-weight: 700;
  margin: 2vh auto; }
#carousel-app .module-4 img, #carousel-app-desktop .module-4 img {
  width: 40vw;
  margin: 20px auto;
  display: block;
  border-top: 4px solid #09435e;
  border-bottom: 4px solid #09435e; }

#carousel-app-desktop {
  position: relative;
  background-color: transparent;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  #carousel-app-desktop .first-module-title-desktop {
    margin-bottom: 0; }
  #carousel-app-desktop .module .module-title {
    width: 500px;
    position: relative;
    left: 45%;
    margin: 0px 0 10px;
    border: none;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #0abab5;
    text-underline-offset: 6px;
    font-size: 2.4rem; }
  #carousel-app-desktop .carousel-indicators {
    transform: translate(0, 0);
    display: block;
    width: fit-content;
    position: absolute;
    left: 50%;
    right: auto;
    bottom: 0px;
    transform: translate(-50%, 0); }
  #carousel-app-desktop .carousel-inner {
    height: 540px; }
  #carousel-app-desktop .module-overflow {
    width: 45%;
    position: relative;
    left: 45%;
    margin: 0;
    height: 500px; }
  #carousel-app-desktop ::-webkit-scrollbar {
    width: 10px; }
  #carousel-app-desktop ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px; }
  #carousel-app-desktop ::-webkit-scrollbar-thumb {
    background: #09435e90;
    border-radius: 10px; }
  #carousel-app-desktop ::-webkit-scrollbar-thumb:hover {
    background: #09435e; }
  #carousel-app-desktop img.app-image {
    z-index: 1;
    position: absolute;
    left: 30%;
    top: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    width: 19%;
    filter: drop-shadow(12px 12px 12px #00000070); }
  #carousel-app-desktop .carousel-item {
    width: 100%; }
  #carousel-app-desktop .carousel-control {
    display: block;
    position: absolute;
    right: auto;
    left: auto;
    top: 50%;
    bottom: auto;
    transform: translate(0, -50%);
    width: 100px;
    height: 100px;
    max-width: 100px;
    border-radius: 50%;
    background: #0abab5 url("../images/arrow2.png") no-repeat scroll;
    background-size: 41px;
    background-position: 34px 17px;
    opacity: 0.3; }
    #carousel-app-desktop .carousel-control img {
      width: 100%; }
  #carousel-app-desktop .carousel-control-next {
    right: 50px; }
    #carousel-app-desktop .carousel-control-next:focus {
      opacity: 0.3; }
    #carousel-app-desktop .carousel-control-next:hover {
      opacity: 0.8; }
  #carousel-app-desktop .carousel-control-prev {
    left: 50px;
    transform: translate(0, -50%) rotate(180deg); }
    #carousel-app-desktop .carousel-control-prev:focus {
      opacity: 0.3; }
    #carousel-app-desktop .carousel-control-prev:hover {
      opacity: 0.8; }
  #carousel-app-desktop .module-2 img {
    display: none; }
  #carousel-app-desktop .module-3 .value {
    font-size: 40px; }
  #carousel-app-desktop .module-4 img {
    width: 200px; }

footer {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: black;
  padding: 15px;
  color: #f1f1f1;
  grid-template-columns: 1fr 1fr; }
  @media (min-width: 768px) {
    footer {
      grid-template-columns: 1fr 1fr;
      color: white; } }
  footer .grid_item {
    margin-bottom: 10px;
    paddign: 0 10px; }
    footer .grid_item:last-of-type {
      margin-bottom: 0; }

video:fullscreen {
  border-radius: none !important;
  border: 0 !important; }

/*# sourceMappingURL=style.css.map */
